schema: "2"
project:
  name: "{{name}}"
  type: extension
platform:
  version: "{{platform_version}}"
configurations:
  - id: "{{config_id}}"
    type: extension
    default: true
    source:
      format: xml
      path: src/cfe/{{ext_id}}
runtimes:
  - id: "{{runtime_id}}"
    configuration: "{{config_id}}"
    type: file
    path: .1c-dev/runtime/{{config_id}}
    default: true
