schema: "2"
project:
  name: "{{name}}"
  type: configuration
platform:
  version: "{{platform_version}}"
configurations:
  - id: "{{config_id}}"
    type: configuration
    default: true
    source:
      format: xml
      path: src/cf
runtimes:
  - id: "{{runtime_id}}"
    configuration: "{{config_id}}"
    type: file
    path: .1c-dev/runtime/{{config_id}}
    default: true
publish:
  default: local-ibsrv
  profiles:
    local-ibsrv:
      backend: ibsrv
      port: 8314
      runtime: "{{runtime_id}}"
      config: .1c-dev/publish/local-ibsrv/ibsrv.yaml
